.selected-file {
	margin: 10px 50px
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #647de3;
    color: #dcdcdc;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
	border-left: 2px solid #647de3;
	border-right: 2px solid #647de3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #647de3;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.tabs {
    background-color: #21252b;
    display: flex;
    height: 40px;
}

.tab {
    display: flex;
    padding-left: 10px;
    border-right: 1px solid #2f333d; 
}

.tab:hover {
    cursor: pointer;
}

.tab-active {
    background-color: #383e4a;
}

.tab-name, .tab-close {
    display: flex;
    align-items: center;
}

.tab-close {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    color: rgba(154, 154, 154, 0.657)
}

.tab-close:hover {
    color: rgba(211, 211, 211, 0.657);
    cursor: pointer;
}