.file-explorer {
  display: flex;
  flex-direction: column;
}

.file-explorer.file-explorer-open {
  flex: 1;
}

.file-explorer-heading {
  background-color: #282c34;
  color: #d8d8d8;
  font-size: x-small;
  height: 20px;
  padding-left: 10px;
  font-weight: bold;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.file-explorer-title {
	display: flex;
	align-items: center;
}

.chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
  width: 10px;
  font-size: x-small;
}

.file-explorer-buttons {
	display: none;
}

.file-explorer-button {
	width: 20px;
	margin: 0 2px 0 2px;
	border-radius: 5px;
	height: 100%;
	cursor: pointer;
}

.file-explorer-button:hover {
	background-color: #67676739;
}

.file-explorer:hover .file-explorer-buttons {
	display: flex;
}

.file-explorer-content {
  display: none;
  font-size: small;
}

.file-explorer-content-active {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.system-node{
  display: flex;
  overflow: hidden;
  flex: 1;
}

.folder-guide {
  display: none;
  width: 1px;
  margin-right: -1px;
  position: relative;
  top: 26px;
}

 .file-explorer-open:hover .folder-guide {
  display: flex;
  background-color: #67676739;
}

.system-node-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.system-node-name {
  display: flex;
  padding: 5px 0px;
  cursor: pointer;
  flex: 1;
}

.system-node-name-selected {
  display: flex;
  background-color: #67676739;;
}

.folder-guide-contains-selected {
  display: flex;
  background-color: #d1d1d154 !important;
}

.system-node-name:hover {
  display: flex;
  background-color: #67676739;;
}