.side-bar {
  display: flex;
  flex-direction: row;
}

.file-explorer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.heading {
  background-color: #21252b;
  height: 40px;
}

.section {
  display: flex;
  flex-direction: column;
}

.section.section-open {
  flex: 1;
}

.section-heading {
  background-color: #282c34;
  height: 20px;
}
.modules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2f333d;
  width: 50px; 
}
.top-modules {
  display: flex;
  flex-direction: column;
}
.bottom-modules {
  display: flex;
  flex-direction: column;
}
.module {
  height: 50px;
  cursor: pointer;
}
.module {
  cursor: pointer;
}
.module.active {
  border-left: 2px solid white;
}