.file-react-icon {
	background-image: url("../assets/system-nodes/file-react.png");
	display: block;
	height: 15px;
}

.folder-icon-closed {
	background-image: url("../assets/system-nodes/folder-closed.png");
	display: block;
	height: 15px;
}

.folder-icon-open {
	background-image: url("../assets/system-nodes/folder-open.png");
	display: block;
	height: 15px;
}