body {
  background-color: #282c34;
}
.tabs {
  background-color: #21252b;
  display: flex;
  height: 40px;
}

.tab {
  width: 125px;
  border-right: 1px solid #2f333d;
}

.tab-active {
  background-color: #383e4a;
}