.side-bar {
  display: flex;
  flex-direction: row;
}

.modules {
  background-color: #2f333d;
  width: 50px; 
}
.file-explorer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.heading {
  background-color: #21252b;
  height: 40px;
}

.section {
  display: flex;
  flex-direction: column;
}

.section.section-open {
  flex: 1;
}

.section-heading {
  background-color: #282c34;
  height: 20px;
}